@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>My Recipes</h1>

@if(Model.Any())
{
<ul>
  @foreach(Recipe recipe in Model)
  {
    <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId})</li>
  }
</ul>
}
else
{
  <p>Nothing added yet</p>
}
<div class="sub-nav">
  <p>@Html.ActionLink("Add Recipe", "Create")</p>
</div>