<nav class="main-nav">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Recipes", "Index", "Recipes")</p>
  <p>@Html.ActionLink("Ingredients", "Index", "Ingredients")</p>
  <p>@Html.ActionLink("Categories", "Index", "Categories")</p>
</nav>