<nav class="main-nav">
  <p>@Html.ActionLink("Home", "Index", "Home", null , new { @Class = "btn btn-primary"})</p>
  <p>@Html.ActionLink("Recipes", "Index", "Recipes", null , new { @Class = "btn btn-primary"})</p>
  <p>@Html.ActionLink("Ingredients", "Index", "Ingredients", null , new { @Class = "btn btn-primary"})</p>
  <p>@Html.ActionLink("Categories", "Index", "Categories", null , new { @Class = "btn btn-primary"})</p>
</nav>