@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Ingredient>

<h1>Ingredients</h1>

@if(Model.Any())
{
<ul>
  @foreach(Ingredient ingredient in Model)
  {
    <li>@Html.ActionLink($"{ingredient.Name}", "Details", new { id = ingredient.IngredientId})</li>
  }
</ul>
}
else
{
  <p>Nothing added yet</p>
}

<div class="sub-nav">
  <p>@Html.ActionLink("Add Ingredient", "Create")</p>
</div>
