<h1>Recipe Box</h1>

@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
<h3>Welcome @User.Identity.Name.</h3>
<p>Ready to discover new recipes?</p>
}
else
{
  <h3>Log in to view your recipes.</h3>
  <p>@Html.ActionLink("Register/Log-in", "Index", "Account")</p>
}