<h1>Recipe Box</h1>

@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
<h3>Welcome @User.Identity.Name.</h3>
<p>Ready to discover new recipes?</p>
@using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log Out"/>
  }
}
else
{
  <h3>Log in to view your recipes.</h3>
  <p>@Html.ActionLink("Register/Log-in", "Index", "Account", null, new { @Class = "btn btn-primary"})</p>
}

<p>@Html.ActionLink("Admin Control", "Index", "Admin")</p>